guess-the-number/node_modules
simple_calculator/node_modules
atm-cli/node_modules
todo-cli/node_modules
word-conter-cli_app/node_modules
currency_converter_cli/node_modules
student_management/node_modules
quiz_cli/node_modules
countdown_cli/node_modules
project_10_oop/node_modules
cli_game/node_modules
oop_bank/node_modules


```